<h1>PROFESORES</h1>

<?php
    $teachers= $this->requestAction('teacher/index/sort:id/direction:desc/limit:5');
    //con requestAction mandas a ejecutar cualquier cosa dentro de un controler
    //como en joomla llamar un modulo de un articulo

//se usa el nombre del modelo, en este caso Post
foreach ($teachers as $llave=>$valor){

echo "<div class='titulo-noticias'>
        <tr>
		<td>".$this->Html->link($valor['Teacher']['name'],array('controler' =>'teacher', 'action'=>'view', $valor['Teacher']['id']))."</td>
		<td>".$valor['Teacher']['last_name']."</td>
        </tr>
    </div>";
}