<div class="add">
    <h1>Agregar Profesor</h1>
<?php
	echo $this->Form->create('Teacher');
	echo $this->Form->input('name',array('label'=> 'NOMBRE'));
	echo $this->Form->input('last_name',array('label'=> 'APELLIDO'));
        echo $this->Form->input('cv',array('label'=> 'CURRICULUM'));
	echo $this->Form->end('GUARDAR PROFESOR');	
?>
</div>