body{background: #F4F4F4; font-size:10pt;}
header{background: #212121; height:110px; color:#FFF;}
header h1{width:1024px; margin: 0 auto; }
header h1 a{font-size:45pt; font-family:'Conv_OldLondon',Sans-Serif; font-weight: normal;}
header nav{
	background: none repeat scroll 0 0 #2C2E2E;
	/*background-image: linear-gradient(bottom, #000000 50%, #2C2E2E 69%, #2C2E2E 63%);
	background-image: -o-linear-gradient(bottom, #000000 50%, #2C2E2E 69%, #2C2E2E 63%);
	background-image: -moz-linear-gradient(bottom, #000000 50%, #2C2E2E 69%, #2C2E2E 63%);
	background-image: -webkit-linear-gradient(bottom, #000000 50%, #2C2E2E 69%, #2C2E2E 63%);
	background-image: -ms-linear-gradient(bottom, #000000 50%, #2C2E2E 69%, #2C2E2E 63%);
	*/
    border-top: 2px solid #333333;
    height: 50px;
    margin-top: 25px;
    position: relative;
    z-index: 1;
	box-shadow: 0 5px 6px #555555;
	-moz-box-shadow: 0px 5px 6px #555;
	-webkit-box-shadow: 0px 5px 6px #555;
	}
header ul{width:1024px; margin:0 auto;}
header li{display:block; float:left; padding-right:20px; margin-top:10px;}
header a{text-decoration:none; color:#FFF; font-family: 'Amaranth', sans-serif;}
header a:hover{color:#F09A2E;}
div.wrapper_all{
	background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0px 2px 10px #333333;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 15px;
    position: relative;
    top: 50px;
    width: 1024px;
    z-index: 0;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}

section.content_left{padding-right: 10px; margin-top: 20px; border-right: 1px solid #777777; width:680px; top:30px; float:left;}
section.content_right{margin-top: 20px;width:330px; top:30px; float:left;}
video{background:#EFEFEF; padding:10px; border:1px solid #CCC; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; float:left;}
h2{color:#F09A2E; padding:10px 0; font-family: 'Amaranth', sans-serif; font-weight:normal;}
div.img-video{
	background: url("../img/sprite_iconos.png") no-repeat scroll 0px -35px transparent;
    float: left;
    height: 30px;
	margin-top:15px;
	margin-right: 5px;
    width: 35px;
	}
div.img-video:hover{background-position: 0px 0px; cursor: pointer;}
section#video{
	float:left;
	width: 680px;
	overflow:hidden;
	min-height: 385px \0/; /*Hack CSS para IE9*/
}
aside#podcast-rel{
	float:left;
	width: 320px;
	overflow:hidden;
}
section#video .descripcion{
    float: left;
    font-size: 10pt;
    margin-left: 10px;
    min-height: 285px;
    padding-right: 10px;
    width: 318px;
}
audio{padding:15px 10px; width:300px;}
h3{margin-left:10px; color:#F09A2E; font-family: 'Amaranth', sans-serif; font-weight:normal;}
div.img-audio{
	background: url("../img/sprite_iconos.png") no-repeat scroll -60px -35px transparent;
    float: left;
    height: 35px;
    width: 30px;
	}
div.img-audio:hover{background-position: -60px 0px; cursor: pointer;}

/* Noticia principal */
section#noticia-principal{ width: 670px; float:left; padding-right:10px;}
section#noticia-principal figure .img{
	background:#EFEFEF;
	padding:10px;
	border:1px solid #CCC;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	float:left;
	}
section#noticia-principal figcaption{
	float: left;
    font-size: 10pt;
    font-style: italic;
    height: 160px;
    margin-left: 11px;
    width: 370px;
	}
div.noticia-social-icons{position:relative;}
div.addthis_toolbox{left:0px;top:150px; position:absolute;}
div.noticia-content{clear:both; margin-left:80px; margin-bottom: 30px;}
div.noticia-resumen{clear:both; margin-left:80px; padding-bottom:10px;}

/* Noticias relacionadas */
aside#noticias-rel{
	float: left;
    min-height: 400px;
    padding: 10px;
    width: 320px;
}
aside#noticias-rel article{margin-top:0px;}
aside#noticias-rel h2{font-size:12pt;}
div.noticia-content-rel{font-size:9pt;margin-left:35px;}
div.noticia-social-icons-rel{position:relative;}
div.noticia-social-icons-rel div.addthis_toolbox{left:0;top:0;}
div.titulo-noticia{margin-left:35px;}
div.titulo-noticia a{color: #F09A2E; text-decoration:none;}
div.titulo-noticia a:hover{color: #F09A2E; text-decoration:underline;}
div.img-noticia{
	background: url("../img/sprite_iconos.png") no-repeat scroll -34px -35px transparent;
    height: 30px;
    width: 29px;
	float: left;
	margin-top:15px;
	}
div.img-noticia:hover{background-position: -34px 0px; cursor: pointer;}
/* Footer */
footer{height:200px; background: #212121;}
.related .students{width: 100%; border-bottom:1px dashed #777; padding-bottom:5px; margin: 30px 0 10px 0; cursor:pointer;}
.related h3{margin-left: 0px; margin-top:10px;}
.wrapper_students{display:none;}
.titulo-noticia a{font-weight: normal;}
.cls{clear: both; width: 100%; height: 1px;}
.wrapper_autocomplete{width: 400px;margin: 0 auto;}
input#name{border-radius:8px; box-shadow: 2px 2px 6px #777; border:1px solid #EFEFEF;}
input#name:focus{background: #FFFFCC;}
.desc{clear:both;}