<div class="form">
    <h1>Agregar Curso</h1>
<?php
	echo $this->Form->create('Course');
	echo $this->Form->input('name',array('label'=> 'NOMBRE'));
	echo $this->Form->input('description',array('label'=> 'DESCRIPCION'));
        echo $this->Form->input('teacher_id',array('label'=> 'PROFESOR'));
        echo $this->Form->input('course_id',array('label'=> 'CURSOS'));
	echo $this->Form->end('GUARDAR CURSO');	
?>
</div>